body{
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: bisque; 
}
input{
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px;
    background: #0000001b;
    color: black;
    margin: 20px;
    border: none;
}

button{
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    background: #c7b709e4;
    margin-bottom: 20px;
    transition: background-color .5s ease;
    border: none;

}

button:hover{
    background-color: #fff700;

}
button:active{
    background-color: rgb(255, 252, 231);
    color: rgb(60, 52, 3);
}